---
import { Image, getImage } from 'astro:assets';
import heroBackground from '../assets/delivery/main-bg.png';
import { Icon } from 'astro-icon/components';
import { getEntry } from 'astro:content';
const { data } = await getEntry('delivery', 'delivery');
const optimizedBackground = await getImage({ src: heroBackground, format: 'webp', quality: 100 });
---

<div class="delivery mb-[60px] bg-cover bg-center bg-no-repeat lg:mb-[130px]" style={`background-image: url(${optimizedBackground.src});`}>
  <div class="container relative z-10 flex min-h-[700px] flex-col items-start pb-5 lg:flex-row">
    <div class="mt-auto pb-5">
      <h2 class="section-title mb-5 text-white lg:mb-9 lg:text-dark">{data.title}</h2>
      <div class="flex items-center gap-7">
        <div class="shrink-0 rounded-lg bg-white p-3">
          <Image src={import('../assets/earth.svg')} alt="earth" class="size-10" />
        </div>
        <p class="max-w-[445px] text-lg font-medium text-white lg:text-2xl lg:text-[#4C5670]">
          {data.subtitle}
        </p>
      </div>
    </div>
    <div class="mt-2 flex max-w-[440px] gap-4 rounded-lg bg-white p-5 lg:right-0">
      <div class="relative">
        <div id="lightgallery">
          <a href="/delivery-doc.png">
            <Image src={import('../assets/delivery/delivery/image.png')} width={136} height={183} class="w-[186px]" alt="doc" />
            <span class="absolute bottom-0 right-0 grid size-7 place-content-center place-items-center bg-[#E53737]">
              <Icon name="search" />
            </span>
          </a>
        </div>
      </div>
      <div class="flex flex-col justify-between">
        <div class="border-b border-[#DDDFEB] pb-4">
          <span class="mb-2 text-2xl font-bold uppercase text-primary">№ {data.number}</span>
          <p class="font-semibold">Номер в реестре</p>
        </div>
        <p class="mt-auto text-sm font-semibold text-dark lg:text-base">Мы являемая официальным таможенным представителем</p>
      </div>
    </div>
  </div>
</div>

<style>
  .delivery {
    position: relative;
  }
  .delivery::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  @media screen and (min-width: 992px) {
    .delivery::after {
      opacity: 0;
    }
  }
</style>

<script>
  import lightGallery from 'lightgallery';
  import '../../node_modules/lightgallery/css/lightgallery-bundle.css';
  // Plugins
  import lgZoom from 'lightgallery/plugins/zoom';

  lightGallery(document.getElementById('lightgallery'), {
    plugins: [lgZoom],
    speed: 500,
    licenseKey: '7EC452A9-0CFD441C-BD984C7C-17C8456E',
  });
</script>
