---
import { getEntry } from 'astro:content';
const { data } = await getEntry('contacts', 'contacts');
---

<div class="join mb-[60px] bg-gray-50 sm:mb-[130px]">
  <div class="container relative z-10 flex items-start gap-5 py-[50px]">
    <svg width="52" height="52" viewBox="0 0 52 52" fill="none" class="shrink-0" xmlns="http://www.w3.org/2000/svg">
      <g clip-path="url(#clip0_219_800)">
        <path d="M26 52C40.3594 52 52 40.3594 52 26C52 11.6406 40.3594 0 26 0C11.6406 0 0 11.6406 0 26C0 40.3594 11.6406 52 26 52Z" fill="url(#paint0_linear_219_800)"></path>
        <path
          d="M38.6547 14.9603L34.0133 38.3705C34.0133 38.3705 33.3633 39.9955 31.5758 39.2135L20.861 30.9971L16.961 29.1182L10.4001 26.9143C10.4001 26.9143 9.39459 26.5588 9.29303 25.7768C9.19147 24.9947 10.4305 24.5783 10.4305 24.5783L36.5118 14.351C36.5118 14.3408 38.6547 13.3963 38.6547 14.9603Z"
          fill="white"></path>
        <path
          d="M20.0281 38.1065C20.0281 38.1065 19.7133 38.0761 19.3273 36.8472C18.9414 35.6183 16.9609 29.1183 16.9609 29.1183L32.7133 19.1144C32.7133 19.1144 33.6273 18.5659 33.5867 19.1144C33.5867 19.1144 33.7492 19.2159 33.2617 19.6628C32.7742 20.1198 20.8914 30.8042 20.8914 30.8042"
          fill="#D2E4F0"></path>
        <path d="M24.9639 34.1453L20.7287 38.0148C20.7287 38.0148 20.3936 38.2688 20.0381 38.1063L20.8506 30.9258" fill="#B5CFE4"></path>
      </g>
      <defs>
        <linearGradient id="paint0_linear_219_800" x1="26" y1="0" x2="26" y2="51.8103" gradientUnits="userSpaceOnUse">
          <stop stop-color="#41BCE7"></stop>
          <stop offset="1" stop-color="#22A6DC"></stop>
        </linearGradient>
        <clipPath id="clip0_219_800">
          <rect width="52" height="52" fill="white"></rect>
        </clipPath>
      </defs>
    </svg>
    <p class="max-w-[764px] font-semibold lg:text-xl">
      <a href={data.tg} target="_blank" class="text-primary"> Подписывайтесь на наш Telegram-канал </a>, чтобы первыми узнавать о сроках доставки и видеть реальные фотографии грузов в действии
    </p>
  </div>
</div>

<style>
  .join {
    position: relative;
  }
  .join::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 748px;
    height: 100%;
    z-index: 0;
    background-image: url('../assets/join-mask.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
