---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import QuestionsForms from '@components/forms/Questions';
import { getEntry } from 'astro:content';
const { data } = await getEntry('home', 'problems');
---

<section class="py-10 md:py-20">
  <div class="container flex flex-col items-center gap-5 lg:flex-row xl:items-stretch">
    <div class="max-w-[600px]">
      <div class="mb-5 inline-flex items-center gap-3 rounded-full border border-[#E5ECF5] px-5 py-2 xl:mb-10">
        <span class="size-2.5 rounded-full bg-[#0ABE47]"></span>
        <span class="text-sm font-bold uppercase">{data.title}</span>
      </div>
      <ul class="mb-10">
        {
          data.tags.map((item) => (
            <li class="mb-3 flex items-start gap-5 text-lg font-semibold text-[#252626]">
              <Icon name="marker" class="mt-1 shrink-0" />
              {item}
            </li>
          ))
        }
      </ul>
      <QuestionsForms client:load />
    </div>
    <div class="relative">
      <Image src={import('@assets/business.png')} class="mb-5 hidden w-full rounded-xl object-cover lg:block lg:max-w-[450px] xl:mb-0 xl:h-full xl:max-w-full" quality={100} alt="С какими проблемами мы поможем?" />
      <p class="left-0 right-0 mx-auto mb-1 max-w-[544px] text-balance rounded-xl bg-gray-50 px-4 py-3.5 font-semibold xl:absolute xl:bottom-10">{data.imageText}</p>
    </div>
  </div>
</section>
